<!DOCTYPE html>
<html lang="en" hidden>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="https://cdn.skypack.dev/twind/shim"></script>
    <script type="twind-config">
      {
        "darkMode": "class"
      }
    </script>
    <script type="module">
      let cleanup;

      function syncDarkMode() {
        const value = localStorage.getItem('theme-preference');

        if (value === 'dark' || (window.matchMedia('(prefers-color-scheme: dark)').matches)) {
          document.documentElement.classList.add('dark')
        } else {
          document.documentElement.classList.remove('dark')
        }
      }

      syncDarkMode();

      window.addEventListener('storage', (event) => {
        syncDarkMode();
      });

      let refreshKey;

      function createRoot() {
        const root = document.createElement('div');
        root.setAttribute('id', 'root');
        root.className = 'w-full h-full';
        document.body.replaceChild(root, document.getElementById('root'));
      }

      function toggleCover(show) {
        const cover = document.getElementById('cover');
        if (show) {
          cover.classList.remove('opacity-0');
          cover.classList.add('opacity-100');
        } else {
          cover.classList.remove('opacity-100');
          cover.classList.add('opacity-0');
        }
      }

      window.addEventListener('message', (event) => {
        toggleCover(true);

        // Check if parent window requested a root reconstruction
        if (refreshKey !== event.data.refresh) {
          refreshKey = event.data.refresh;
          createRoot();
        }

        // Interpret received code
        import(event.data.code).then((mod) => {
          // Perform cleanup before running new code
          if (cleanup) {
            try {
              cleanup();
            } catch (error) {
              cleanup = undefined;
              throw error;
            }
          }
          // Evaluate module
          cleanup = mod.default(document.getElementById('root'));
          // Send parent window confirmation
          window.parent.postMessage('', '*');

          toggleCover(false);
        }).catch((error) => {
          toggleCover(false);
          const overlay = document.getElementById('overlay');
          overlay.classList.remove('opacity-0', 'pointer-events-none');
          overlay.classList.add('opacity-100', 'pointer-events-auto');
          
          const overlayMessage = document.getElementById('overlay-message');
          overlayMessage.textContent = `${error.name}: ${error.message}`;

          const overlayStack = document.getElementById('overlay-stack');
          overlayStack.textContent = error.stack;

          cleanup = () => {
            overlay.classList.add('opacity-0', 'pointer-events-none');
            overlay.classList.remove('opacity-100', 'pointer-events-auto');
          };
        });
      });

      let timeout;

      function renderResize() {
        const width = window.innerWidth;
        const height = window.innerHeight;

        const windowSize = document.getElementById('resize-tracker');
        windowSize.classList.remove('opacity-0', 'scale-50');
        windowSize.classList.add('opacity-100', 'scale-100');

        if (timeout) {
          clearTimeout(timeout);
          timeout = undefined;
        }

        timeout = setTimeout(() => {
          windowSize.classList.remove('opacity-100', 'scale-100');
          windowSize.classList.add('opacity-0', 'scale-50');
        }, 1000);

        const windowSizeContent = document.getElementById('resize-tracker-content');
        windowSizeContent.innerHTML = `${width} x ${height}`;
      }

      window.addEventListener('resize', renderResize);

      renderResize();
    </script>
  </head>
  <body class="w-screen h-screen bg-white text-black dark:bg-black dark:text-white">
    <div id="root" class="w-full h-full">
    </div>
    <div id="portal" class="fixed top-0 left-0 z-50 w-full h-full pointer-events-none"> 
      <div id="cover" class="absolute top-0 left-0 w-full h-full bg-white dark:bg-black transition-opacity duration-200 opacity-100 pointer-events-none">
      </div>
      <div id="resize-tracker" class="absolute right-0 top-0 rounded-lg m-2 transition transform-gpu duration-200 opacity-0 scale-75 bg-gray-900 pointer-events-none">
        <div id="resize-tracker-content" class="px-2 py-1 text-xs text-white font-semibold">
        </div>
      </div>
      <div id="overlay" class="absolute top-0 left-0 w-full h-full bg-gray-900 bg-opacity-75 transition duration-200 opacity-0 flex items-center justify-center pointer-events-none">
        <div class="flex items-center justify-center w-full h-full p-4">
          <div class="w-full p-4 font-mono rounded-lg bg-red-500 text-white">
            <div class="mb-2">
              <span id="overlay-message" class="text-lg"></span>
            </div>
            <p id="overlay-stack" class="p-2 overflow-x-auto bg-gray-900 rounded-lg whitespace-pre"></p>
          </div>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/source-map-support@0.5.19/browser-source-map-support.js"></script>
    <script>sourceMapSupport.install();</script>
  </body>
</html>
