@tailwind base;
@tailwind components;
@tailwind utilities;

.gutter {
  background: white;
  background-repeat: no-repeat;
  background-position: 50%;
}

.dark .gutter {
  background-color: black;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}

.gutter.gutter-vertical {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
  cursor: row-resize;
}

.shiki {
  @apply px-4;
  @apply py-2;
  @apply w-full;
  @apply h-full;
  @apply whitespace-pre;
  @apply overflow-auto;
  @apply text-sm
}
